<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property resource="application.yml" />
    <property name="APP_NAME" value="loggingtest" />
    <property name="LOG_PATH" value="tmp"/>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <appender name="TIME_BASED_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${APP_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Rolling Every Hour -->
            <fileNamePattern>${LOG_PATH}/${APP_NAME}.%d{yyyy-MM-dd-HH:mm}.log</fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.milind" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="TIME_BASED_FILE" />
    </logger>
    <logger name="org.springframework" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="TIME_BASED_FILE" />
    </logger>

    <logger name="org.apache.http.wire" level="ERROR" />
    <!-- By default, the level of the root level is set to DEBUG -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="TIME_BASED_FILE" />
    </root>
</configuration>